// =====================
// Primary
// =====================
$White: #FFFFFF;
$Black: #000000;
$Pms-Cool-Gray-11: #6D6E70;
$Red-Cross-Red-Pms-485: #ED1B2E;
$Midnight-Blue-Pms-7692: #004B79;

// =====================
// Neutral
// =====================
$Light-Gray: #D7D7D8;
$Med-Gray: #9F9FA3;

// =====================
// Secondary
// =====================
$Khaki-Pms-4535: #E2D7AC;
$Sand-Pms-7530: #B4A996;
$Gold-Pms-130: #ECB731;
$Sky-Blue-Pms-542: #56A0D3;
$Light-Blue-Pms-290: #C4DFF6;
$Safety-Green-Pms-360: #8EC06C;
$Deep-Red-Pms-7622: #7F181B;
$Forest-Green-Pms-364: #537B35;
$Classic-Blue-Pms-Proc-Blue: #0091CD;
